.selector1 {
  property: value1;
}

@media (max-width: 20em) {
  .selector3 {
    property: value1;
  }
}

@media (max-width: 10em) {
  .selector3 {
    property: value2;
  }
}

@media (max-width: 165px) {
  .selector3 {
    property: value3;
  }
}

@media (max-width: 1000em) {
  .selector {
    property: value2;
  }
}

@media (min-width: 1000px) {
  .selector {
    property: value7;
  }
}

@media (max-width: 500em) {
  .selector {
    property: value4;
  }
}

@media (min-width: 500px) {
  .selector {
    property: value5;
  }
}

.selector2 {
  property: value2;
}

@media (max-width: 750em) {
  .selector {
    property: value3;
  }
}

@media (min-width: 750px) {
  .selector {
    property: value6;
  }
}
