.selector {
  property: value1;
}

@media (max-width: 1000px) {
  .selector {
    property: value2;
  }
}

@media (max-width: 500px) {
  .selector {
    property: value3;
  }
}

@media (max-width: 750px) {
  .selector {
    property: value4;
  }
}
